 /* Main Configuration file for CSS */

.company_logo {
    max-width: 100px;
    max-height: 100px;
}

#header a{
    float: left;
}
#header ul {
    position: relative;
    float: left;
    display: inline;

}

#header ul li {
    list-style: none;
    float: left;
    position:relative;
}

#company_logo {
    display: none;
}

.modify {
    opacity: .5;
    text-decoration: none;
}

.turnover {
    /*border: 1px solid black;*/
    width: 40%;
    clear: left;
    position: relative;
    background: lightgray;

    /* Give the same effect as the <pre> sections */
    color: #000;
    background: #f0f0f0;
    padding: 15px;
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#turnover_prev, #turnover_cur, #turnover_next {
    float: left;
    padding: 15px;
}