 /* Main Configuration file for CSS */

.company_logo {
    max-width: 100px;
    max-height: 100px;
}

#header ul {
    position: relative;
    float: left;
    display: inline;

}

#header ul li {
    list-style: none;
    float: left;
    position:relative;
}

#company_logo {
    display: none;
}

.modify {
    opacity: .5;
    text-decoration: none;
}

.turnover {
    /*border: 1px solid black;*/
    width: 40%;
    clear: left;
    position: relative;
    background: lightgray;

    /* Give the same effect as the <pre> sections */
    color: #000;
    background: #f0f0f0;
    padding: 15px;
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#turnover_prev, #turnover_cur, #turnover_next {
    float: left;
    padding: 15px;
}

.faded, .faded a {
    color: gray;
}

#header a, #footer a {
    color: black;
    float: left;
}

body {
    background: white;
    color: black;
}
#content {
    background: white;
}

#pfd_builder {
    margin: 0 auto;

    text-align: center;
    padding: 5px;

    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.new_item {

    text-align: center;
    margin: 0 auto;
    max-width: 100px;
    max_height: 100px;
    font-size: 5em;
}

.new_item:hover {
    color: #e32;
    cursor: pointer;
}

a {
    text-decoration: none;
}

h2 a {
 color: #e32;
 font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
 font-weight: normal;
}

.graphic_reactor {

    outline-color: black;
    border-radius: 40px;
    width: 80px;
    height: 160px;
    background: lightgray;
    text-align: center;
    vertical-align: middle
}

.graphic_furnace {

}
canvas {
    border: 1px dotted black;
}

.add_turnover {
    cursor: pointer;
}

.hidden {
    display: none;
}

input, textarea {
    width: auto;
}